$columns: 29;
$rows: 5;

$radius: 5px;
$size: 1.5rem;
$spacing: 12px;

$beige: #fcf0e4;
$bright-orange: #eb7131;
$soft-light-blue: #6ae6ff;
$soft-pink: #f34f7d;
$menu-color: rgb(59 194 245);

// fonts
$serif-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;

@mixin beforePseudoLine {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  left: -1rem;
  display: block;
  width: 1px;
  background: linear-gradient(to bottom, transparent 0%, rgb(74, 177, 232) 90%, transparent);
}
