@import "../modules/variables";

.modal {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(113, 135, 194, 0.2);
  &_active {
    display: flex;
    .modal__dialog {
      animation: .5s appearModal forwards;
    }
  }
  &__dialog {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 3rem;
    align-items: center;
    width: 60vw;
    height: 50vh;
    border-radius: 1rem;
    z-index: 10;
    background-color: white;
  }

  .darken-bg {
  }

  &__close-trigger {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: $soft-pink;
    border-radius: 3px;
    svg {
      width: 100%;
      height: 100%;
      path {
        stroke: black;
      }
    }
  }

  &__icon {
    display: block;
    width: 6rem;
    height: 6rem;
    min-height: 3rem;
    svg {
      fill: $soft-pink;
      width: 100%;
      height: 100%;
    }
    #svg-start {
      fill: $soft-pink;
    }
    #svg-arrow {
      circle:first-of-type {
        fill: $soft-pink;
      }
      circle:nth-of-type(2) {
        fill: white;
      }
      path {
        fill: $soft-pink;
      }
    }
    &_close {
      svg {
        fill: red;
      }
    }
    &_reset {
      svg {
        fill: none;
        path {
          fill: red;
        }
      }
    }
  }
  input {
    background-color: #eee;
    border: none;
    border-radius: .5rem;
    padding: 12px 15px;
    margin-bottom: 1rem;
    width: 100%;
  }

  .agree {
    background-color: rgba(174, 255, 165, 0.73);
  }
  .cancel {
    background-color: transparent;
    &:hover {
      background-color: rgba($soft-pink, 0.73);
    }
  }
  &__dialog {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1rem;
    height: 30rem;
  }
  &__main-wrapper {
    gap: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    gap: 1rem;
    width: 25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    label {
      width: 100%;
      height: 10rem;
      max-height: 10rem;
    }
    textarea {
      cursor: auto;
      padding: .3rem;
      width: 100%;
      resize: none;
      min-height: 5rem;
      height: 100%;
      max-height: 10rem;
      font-family: $serif-font;
      &::-webkit-scrollbar-thumb {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  &__right {
    gap: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 100%;
      width: 1px;
      background: linear-gradient(45deg, rgb(74, 177, 232) 50%, transparent 100%);
    }
  }

  &__title {
    text-align: center;
    font-size: 2rem;
  }

  &__start-print-btn {
  }

  &_statistic {
    display: none;
  }
}

@keyframes appearModal {
  from {
    opacity: 0;
    transform: rotateY(90deg) skewX(10deg);
  }
  to {
    opacity: 1;
    transform: rotate(0);
  }
}