@import "../modules/variables";

#testing-text {
  overflow-wrap: anywhere;
  border-radius: .5rem;
  padding: 1.5rem 1rem 1.5rem 1rem;
  font-size: 2rem;
  background-color: white;
  width: calc(#{$size} * #{$columns} + (#{$spacing} * #{$columns+1}));
  height: 10rem;
  overflow-y: hidden;
  line-height: 2.6rem;
}

.text {
  &__char {
    color: rgb(59, 59, 59);
  }
  &__char-passed {
    //background-color: rgb(154, 154, 154);
    //border-radius: .2rem;
    //opacity: .4;
    color: rgb(91, 197, 56);
  }
  &__char-passed-svg {
    fill: rgb(91, 197, 56);
  }
  &__char-target {
    color: white;
    background-color: rgb(91, 197, 56);
  }
  &__char-failed {
    color: white;
    background-color: rgb(243, 103, 71);
  }
}