<header class="main-navbar">
    <div class="container">
        <nav class="menu">
            <a class="logo" href="pages/trainer.html">govorov</a>
            <ul class="menu__main">
                <li class="menu__item">
                    <a data-target-point="/" href="/">Testing</a>
                </li>
                <li class="menu__item">
                    <a data-target-point="/pages/trainer.html" href="pages/trainer.html">Trainer</a>
                </li>
                <li class="menu__item">
                    <a data-target-point="/pages/preparation.html" href="pages/preparation.html">Preparation</a>
                </li>
            </ul>
            <ul class="menu__right">
                <li class="menu__item menu__item_profile">
                    <a data-target-point="/pages/profile.html" class="user-link" href="pages/profile.html"> <!--todo on mouseover appear list of users characteristic-->
                        <object class="user-picture" data="avatar.jpg" type="image/jpg">
                            <img src="get from js" />
                        </object>
                        <span class="user-name">Владимир</span>
                    </a>
                </li>
                <li class="menu__item menu__item_login active">
                    <a href="/pages/login.html?register">Register</a> <span>or</span> <a href="/pages/login.html">Sign in</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
