@import "modules/variables";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    &:focus {
        outline: .2rem solid #000000;
        border-radius: .3rem;
        scale: 1.01;
    }
}
/*****SCROLLBAR*****/
/* для Chrome/Edge/Safari */
    *::-webkit-scrollbar {
        display: block;
        width: 8px;
    }
    *::-webkit-scrollbar-track {
        background-color: white;
    }
    *::-webkit-scrollbar-thumb {
        background-color: $menu-color;
        border-radius: .3rem;
        &:hover {
            background-color: rgb(69, 160, 201);
        }
    }
    /* для Firefox */
    * {
        scrollbar-color: $menu-color white;
        scrollbar-width: thin;
    }


html {
    font-size: 14px;
}
body {
    font-family: "Montserrat", sans-serif;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 3rem;
    .container {
        display: flex;
        justify-content: space-between;
    }
}
button {
    background-color: transparent;
    border: none;
    font-weight: inherit;
    font-size: inherit;
}
a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}
li {
    list-style-type: none;
}
.body-container-main {
    padding: 8vw;
    background-color: $soft-light-blue;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}
.body-container-full-page {
    background-color: $soft-light-blue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    margin: 0 auto;
    overflow: hidden;
    width: 60vw;
}
h1 {
    font-size: 4rem;
    text-align: center;
}
.wrapper-content {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.wrapper-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

@import "blocks/button";
@import "blocks/keyboard";
@import "blocks/text";
@import "blocks/modal";
@import "blocks/chart";
@import "blocks/header";
@import "blocks/statistic-item";
@import "blocks/modal-login";
@import "blocks/copyright";
@import "blocks/profile-submenu";
@import "blocks/profile";
@import "blocks/editprofile";
@import "blocks/results";

.feedback {
    font-size: 1.5rem;
}