<main class="container">
  <div class="edit-profile">
    <h1 class="edit-profile__title">Edit profile</h1>

    <div class="edit-profile__wrapper-user-picture">
      <div class="edit-profile__user-picture">
        {{>userImageObject}}
      </div>
      <label class="edit-profile__change-user-picture">
        <input type="file" name="image">
        <button class="button button_upload-file">Change picture</button>
      </label>
    </div>

    <form class="edit-profile__form">
      <div class="edit-profile__form-field">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" value="{{userData.name}}">
      </div>
      <div class="edit-profile__form-field">
        <label for="email">Email</label>
        <input id="email" name="email" type="text" value="{{userData.email}}">
      </div>

      <div class="edit-profile__wrapper-form-choose">
        <button class="button button_form edit-profile__save-btn">Save</button>
        <button class="button button_form edit-profile__cancel-btn" type="button">Cancel</button>
      </div>
    </form>

    <button class="edit-profile__link change-password-btn underline">Change password</button>
    <button class="edit-profile__link reset-progress-btn underline">Reset progress</button>
    <button class="edit-profile__link delete-account-btn danger">Delete my account</button>
  </div>
</main>

<div class="modal modal_delete-account">
  <div class="modal__dialog">
    <button class="modal__cancel-trigger modal__close-trigger">
      <svg width="48px" height="48px" viewBox="0 0 48 48" fill="none">
        <rect width="48" height="48" fill-opacity="0.01"/>
        <path d="M14 14L34 34" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M14 34L34 14" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
    <div class="modal__main-wrapper">
      <div class="modal__icon modal__icon_close">
        <svg viewBox="0 0 459 459">
          <path d="M229.5,0C102.751,0,0,102.751,0,229.5S102.751,459,229.5,459S459,356.249,459,229.5S356.249,0,229.5,0z M307.105,271.629
            c9.797,9.797,9.797,25.68,0,35.477c-4.898,4.898-11.318,7.347-17.738,7.347c-6.42,0-12.84-2.449-17.738-7.347L229.5,264.977
            l-42.128,42.129c-4.898,4.898-11.318,7.347-17.738,7.347c-6.42,0-12.84-2.449-17.738-7.347c-9.797-9.796-9.797-25.68,0-35.477
            l42.129-42.129l-42.129-42.129c-9.797-9.797-9.797-25.68,0-35.477s25.68-9.797,35.477,0l42.128,42.129l42.128-42.129
            c9.797-9.797,25.68-9.797,35.477,0c9.797,9.796,9.797,25.68,0,35.477l-42.13,42.129L307.105,271.629z"
          />
        </svg>
      </div>

      <div class="modal__title">Are you sure you want to delete the account?</div>
      <div class="modal__wrapper-buttons"><button class="button agree">Yes</button> or <button class="button modal__cancel-trigger cancel">Cancel</button></div>
    </div>
  </div>
</div>

<div class="modal modal_reset-progress">
  <div class="modal__dialog">
    <button class="modal__cancel-trigger modal__close-trigger">
      <svg width="48px" height="48px" viewBox="0 0 48 48" fill="none">
        <rect width="48" height="48" fill-opacity="0.01"/>
        <path d="M14 14L34 34" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M14 34L34 14" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>

    <div class="modal__main-wrapper">
      <div class="modal__icon modal__icon_reset">
        <svg width="32px" height="32px" viewBox="0 0 32 32">
          <path d="M18,28A12,12,0,1,0,6,16v6.2L2.4,18.6,1,20l6,6,6-6-1.4-1.4L8,22.2V16H8A10,10,0,1,1,18,26Z"/>
          <rect width="32" height="32"/>
        </svg>
      </div>

      <div class="modal__title">Are you sure you want to reset the progress?</div>
      <div class="modal__wrapper-buttons"><button class="button agree">Yes</button> or <button class="button modal__cancel-trigger cancel">Cancel</button></div>
    </div>
  </div>
</div>

<div class="modal modal_change-password">
  <div class="modal__dialog">
    <button class="modal__cancel-trigger modal__close-trigger">
      <svg width="48px" height="48px" viewBox="0 0 48 48" fill="none">
        <rect width="48" height="48" fill-opacity="0.01"/>
        <path d="M14 14L34 34" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M14 34L34 14" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>

    <div class="modal__main-wrapper">
      <div class="modal__icon modal__icon_password">
        <svg width="47px" height="47px" viewBox="0 0 47 47">
          <path d="M37.076,19.748c-0.824,0-1.494,0.672-1.494,1.499v1.46h2.991v-1.46C38.573,20.42,37.9,19.748,37.076,19.748z"/>
          <path d="M41.227,12.635H5.773C2.6,12.635,0,15.237,0,18.41v10.18c0,3.178,2.6,5.775,5.773,5.775h35.454
            C44.4,34.365,47,31.768,47,28.59V18.41C47,15.237,44.4,12.635,41.227,12.635z M12.56,25.077l1.385,1.508l-2.399,1.8l-0.984-1.8
            c-0.145-0.257-0.372-0.761-0.691-1.508c-0.349,0.821-0.581,1.321-0.696,1.508l-0.998,1.8l-2.466-1.8l1.491-1.508
            c0.42-0.415,0.827-0.771,1.229-1.063c-0.41-0.037-0.949-0.113-1.614-0.238l-2.065-0.336l0.958-2.812l1.852,0.842
            c0.195,0.088,0.68,0.365,1.452,0.824c-0.165-0.747-0.271-1.302-0.319-1.666l-0.263-2.013h2.941l-0.238,2.013
            c-0.052,0.49-0.166,1.045-0.335,1.666c0.339-0.17,0.563-0.283,0.669-0.345c0.372-0.207,0.659-0.35,0.852-0.442l1.853-0.879
            l0.918,2.812l-2.049,0.428c-0.375,0.072-0.931,0.119-1.67,0.146C11.874,24.406,12.266,24.758,12.56,25.077z M26.137,25.077
            l1.387,1.508l-2.399,1.799l-0.983-1.799c-0.145-0.257-0.372-0.761-0.69-1.508c-0.35,0.821-0.58,1.321-0.695,1.508l-1,1.799
            l-2.465-1.799l1.491-1.508c0.42-0.415,0.826-0.771,1.229-1.063c-0.408-0.037-0.949-0.113-1.614-0.238l-2.066-0.336l0.959-2.812
            l1.853,0.842c0.193,0.088,0.68,0.365,1.451,0.824c-0.169-0.747-0.275-1.302-0.32-1.666l-0.264-2.011h2.942l-0.239,2.011
            c-0.054,0.49-0.166,1.045-0.333,1.666c0.337-0.17,0.561-0.283,0.668-0.345c0.37-0.207,0.658-0.35,0.852-0.442l1.854-0.879
            l0.919,2.812l-2.051,0.428c-0.375,0.072-0.929,0.119-1.669,0.146C25.451,24.406,25.844,24.758,26.137,25.077z M41.35,27.625
            c0,0.619-0.507,1.125-1.125,1.125H33.93c-0.619,0-1.125-0.506-1.125-1.125v-3.794c0-0.619,0.506-1.125,1.125-1.125h0.152v-1.46
            c0-1.653,1.343-2.998,2.994-2.998c1.652,0,2.996,1.344,2.996,2.998v1.46h0.152c0.617,0,1.125,0.506,1.125,1.125V27.625z"
          />
        </svg>
      </div>
      <div class="modal__title">Input new password</div>

      <form id="password">
        <label>
          <input name="password" type="text" placeholder="New password">
        </label>
        <label>
          <input name="repeatPassword" type="text" placeholder="Repeat password">
        </label>

        <button class="hidden"></button>
      </form>

      <div class="modal__wrapper-buttons"><button class="button agree">Confirm</button> or <button class="button modal__cancel-trigger cancel">Cancel</button></div>
    </div>
  </div>
</div>