<main class="container">
  <div class="edit-profile">
    <h1 class="edit-profile__title">Edit profile</h1>

    <div class="edit-profile__wrapper-user-picture">
      <div class="edit-profile__user-picture">
        {{>userImageObject}}
      </div>
      <label class="edit-profile__change-user-picture">
        <input type="file" name="image">
        <button class="button button_upload-file">Change picture</button>
      </label>
    </div>

    <form class="edit-profile__form">
      <div class="edit-profile__form-field">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" value="">
      </div>
      <div class="edit-profile__form-field">
        <label for="email">Email</label>
        <input id="email" name="email" type="text" value="">
      </div>

      <div class="edit-profile__wrapper-form-choose">
        <button class="button button_form edit-profile__save-btn">Save</button>
        <button class="button button_form edit-profile__cancel-btn" type="button">Cancel</button>
      </div>
    </form>

    <button class="edit-profile__link">Change password</button>
    <button class="edit-profile__link">Reset progress</button>
    <button class="edit-profile__link">Delete my account</button>
  </div>
</main>