<main class="container">
  <div class="results">
    <h1>Your results</h1>
    <p class="feedback">Keep it up! Your accuracy wasn't below than <span style="color: red">98%</span></p>
    <div class="result-statistic">
      <canvas class="result-statistic-canvas" id="myChart"></canvas>
    </div>
  </div>
</main>