<main class="container">
  <div class="plug title hidden">
    <h1 class="title">There is no results yet</h1>
  </div>
  <div class="results result">
    <div class="result__wrapper-title"><h1 class="result__title title">Your result from</h1><span class="result__date"></span></div>
    <p class="result__feedback"><!--Keep it up! Your accuracy wasn't below than <span style="color: red">98%</span>--></p>
    <div class="result__statistic">
      <h3 class="result__subtitle subtitle">Text</h3>
      <div class="result__testing-text-wrapper">
        <p class="result__testing-text"></p>
      </div>
      <h3 class="result__subtitle subtitle result__trigger-container"><button data-id="1" class="button button_in-text result__trigger">Speed</button> and <button data-id="2" class="button button_in-text result__trigger">accuracy</button> statistic</h3>
      <div class="result__canvases-container">
        <div data-id="1" class="result__canvas-container result__content">
          <canvas class="result__statistic-canvas" id="speed"></canvas>
        </div>
        <div data-id="2" class="result__canvas-container result__content">
          <canvas class="result__statistic-canvas" id="accuracy"></canvas>
        </div>
      </div>
    </div>
  </div>
</main>