<main class="container">
  <div class="plug title hidden">
    <h1 class="title">There is no results yet</h1>
  </div>
  <div class="results">
    <div class="results__wrapper-title"><h1 class="results__title title">Your result from</h1><span class="results__date"></span></div>
    <p class="results__feedback"><!--Keep it up! Your accuracy wasn't below than <span style="color: red">98%</span>--></p>
    <div class="results__statistic">
      <h3 class="results__subtitle subtitle">Text</h3>
      <div class="results__testing-text-wrapper">
        <p class="results__testing-text"></p>
      </div>
      <h3 class="results__subtitle subtitle results__trigger-container"><button data-id="1" class="button button_in-text results__trigger">Speed</button> and <button data-id="2" class="button button_in-text results__trigger">accuracy</button> statistic</h3>
      <div class="results__canvases-container">
        <div data-id="1" class="results__canvas-container results__content">
          <canvas class="results__statistic-canvas" id="speed"></canvas>
        </div>
        <div data-id="2" class="results__canvas-container results__content">
          <canvas class="results__statistic-canvas" id="accuracy"></canvas>
        </div>
      </div>
    </div>
  </div>
</main>