<header class="main-navbar">
  <div class="container">
    <nav class="menu">
      <button class="logo" data-target-point="/trainer">govorov</button>
      <ul class="menu__main">
        <li class="menu__item">
          <button class="menu__main-link" data-target-point="/testing">Testing</button>
          <div class="menu-submenu submenu">
            <ul class="submenu__list">
              <li class="submenu__item"><button tabindex="0" data-target-point="/testing/custom">Custom text</button></li>
            </ul>
          </div>
        </li>
        <li class="menu__item">
          <button class="menu__main-link" data-target-point="/trainer">Trainer</button>
        </li>
        <li class="menu__item">
          <button class="menu__main-link" data-target-point="/preparation">Preparation</button>
        </li>
      </ul>
      <ul class="menu__right">
        {{#if userData.exist}}
          <li class="menu__item menu__item_profile">
            <button class="menu__main-link menu__profile user-link" data-target-point="/profile"> <!--todo on mouseover appear list of users characteristic-->
              {{> userImageObject}}
              <span class="user-name">{{userData.name}}</span>
            </button>
            <div class="menu__profile-menu submenu">
              <ul class="submenu__list">
                <li class="submenu__item"><button tabindex="0" data-target-point="/profile">My profile</button></li>
                <li class="submenu__item"><button tabindex="0" data-target-point="/profile">Test results</button></li>
                <li class="submenu__item"><button tabindex="0" data-target-point="/profile">Study results</button></li>
                <li class="submenu__item"><button tabindex="0" data-target-point="/profile/edit">Edit profile</button></li>
                <li class="submenu__item"><button  tabindex="0" id="logout">Logout</button></li>
              </ul>
            </div>
          </li>
        {{else}}
          <li class="menu__item menu__item_login active">
            <button class="menu__main-link" data-target-point="/login" data-target-point-extra="#register">Register</button> <span>or</span> <button data-target-point="/login" data-target-point-extra="#sign-in">Sign in</button>
          </li>
        {{/if}}
      </ul>
    </nav>
</div>
</header>
