<div style="position: relative">
    <input id="keyboard-input-phone" style="z-index: -1; background: none; position: absolute; top: 0; border: none; box-shadow: none; outline: none; color: transparent; opacity: 0;"
           type="text" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="off" data-gramm="false" data-gramm_editor="false" data-enable-grammarly="false"/>
    <div id="testing-text">{{testingText}}</div>
</div>