@import "../modules/variables.scss";

button {
  cursor: pointer;
}

.button {
  cursor: pointer;
  width: 15rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: .5rem;
  border: .1rem solid black;
  transition: .2s all ease;
  background: transparent;

  &:hover {
    transform: scale(1.01);
  }
  &_login {
    border-radius: 20px;
    border: .5px solid $soft-pink;
    background-color: $soft-pink;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }
  &_form {
    width: 8rem;
    height: 2.5rem;
  }
  &_tab-trigger {
    border: none;
    width: 12rem;
    height: 2rem;
  }
}