@import "../modules/variables.scss";

header.main-navbar {
  z-index: 101;
  padding-top: 2rem;
  font-size: 1.5rem;
  color: rgba(255,255,255,.95);
  text-shadow: -1px -1px .3px #ababab;
  font-weight: 400;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  .container {
    overflow: visible;
  }
}
.menu {
  height: 4rem;
  background-color: $menu-color;
  border-radius: 1rem;
  padding: 0 1.5rem 0 1.5rem;
  display: flex;
  align-items: center;
  .logo {
    display: block;
    margin-right: 4rem;
    color: black;
  }
  &__main {
    display: flex;
    gap: 1.5rem;
  }
  &__right {
    position: relative;
    display: flex;
    gap: 1rem;
    margin-left: auto;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -1rem;
      display: block;
      height: 100%;
      width: 1px;
      //box-shadow: 0 0 2px rgba(255,255,255,.8);
      background: linear-gradient(45deg, rgb(74, 177, 232) 50%, transparent 100%);
    }
  }
  button {
    position: relative;
    text-decoration: none;
    color: inherit;
    text-shadow: inherit;
    font-family: inherit;
    background: transparent;
    border: none;
    font-size: inherit;
    transition: .1s transform ease-in;
    &:not(.logo) {
      &:hover {
        transform: translateY(-0.2rem);
      }
    }
  }
  &__item_profile {
    display: none; //todo remove line
    &:hover {
      .profile-submenu {
        opacity: 1;
      }
    }
  }
  &__item_login {
    display: none; //todo add line
    span {
      opacity: 0.5;
    }
  }
  &__item_profile.active, &__item_login.active {
    display: block;
  }

  .user-link {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .user-picture {
    display: block;
    background-color: aquamarine;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
  }
}